{% load static %}
<header class="w-100 p-4 bg-light">
  <button class="humber-gun" style="width: 2rem; background: none; border: none;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
      <img src="{% static '/images/bars-solid.svg' %}"/>
  </button>
</header>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title fs-2" id="offcanvasExampleLabel">Api Reference</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fs-5 text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Authentication
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/api-reference/get-basic/">Get basic authentication access token</a></li>
            <li><a class="dropdown-item" href="/api-reference/get-basic-endpoints/">Endpoints that require an account-specific token</a></li>
            <!-- <li>
              <hr class="dropdown-divider">
            </li> -->
            <!-- <li><a class="dropdown-item" href="#">Get OpenID access token</a></li> -->
          </ul>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fs-5 text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Transactions
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/api-reference/transaction-add/">Add Transaction</a></li>
            <li><a class="dropdown-item" href="/api-reference/transaction-endpoints/">Endpoints that require an account-specific transaction</a></li>
            <!-- <li>
              <hr class="dropdown-divider">
            </li> -->
            <!-- <li><a class="dropdown-item" href="#">Get OpenID access token</a></li> -->
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fs-5 text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Batchs
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/api-reference/batchs-add/">Send Batchs</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Endpoints that require an account-specific batchs</a></li>
            <!-- <li>
              <hr class="dropdown-divider">
            </li> -->
            <!-- <li><a class="dropdown-item" href="#">Get OpenID access token</a></li> -->
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fs-5 text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Customer
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/api-reference/customer/">Customers</a></li>
            <li><a class="dropdown-item" href="/api-reference/create-customer/">Create Customer</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">List Accountn Customer</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Get Customer</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Update Customer Information</a></li>
            <!-- <li>
              <hr class="dropdown-divider">
            </li> -->
            <!-- <li><a class="dropdown-item" href="#">Get OpenID access token</a></li> -->
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fs-5 text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Refunds
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/api-reference/batchs-add/">Create Refunds Request</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-add/">List Refunds Request</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Get Refunds Request</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Cancel Refunds Request</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Close Refunds Request</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fs-5 text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Statement
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/api-reference/batchs-add/">Statement</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-add/">List Transactions Balances</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Get Current Statement</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Get Statement</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Close Refunds Request</a></li>
          </ul>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fs-5 text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Merchants
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/api-reference/batchs-add/">Merchants</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-add/">Create Merchants</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">List Merchants</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Get Merchants</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Update Merchants</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fs-5 text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/api-reference/batchs-add/">Create Account Application</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-add/">Update Account Application</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Get Account Application</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Update Account Status</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Get Account</a></li>
          </ul>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fs-5 text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account Balances
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/api-reference/batchs-add/">Account Balances</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Get ALL Account Balances Limits</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fs-5 text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account Limits
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/api-reference/batchs-add/">Account Limits</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">List Account Limit</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Update Account Limits</a></li>
          </ul>

        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fs-5 text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Bank Accounts
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/api-reference/batchs-add/">Bank Accounts</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Ragister Bank Accounts</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Update  Bank Account</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fs-5 text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Payments
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/api-reference/batchs-add/">Bank Accounts</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Ragister Bank Accounts</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Update  Bank Account</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fs-5 text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Transactions Types
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/api-reference/batchs-add/">Payments</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Transfer Funds</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Cancel Transfer</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Capture Pre-Authorizations</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Force Opretions</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Cancel Operations</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Cancel Forced Operations</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fs-5 text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Holds Funds
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/api-reference/batchs-add/">Holds Funds</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Block Funds</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Unblock Held Amount</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Transfer Held Amount</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Cancel Transfer Of Held Amount</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Payments Requests</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Create Payments Requests</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fs-5 text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Processing Codes
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/api-reference/batchs-add/">Processing Codes</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Create Processing Code</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">List Processing Codes</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Update Processing Code</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Cancel Transfer Of Held Amount</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Payments Requests</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Create Payments Requests</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fs-5 text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Exchange Rate
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Exchange Rate</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-add/">Create Exchange Rate</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Get Exchange Rate</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fs-5 text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Fee Models
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Fee Models</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-add/">Create Fee Models</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">List Fee Models</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Get Fee Models</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Update Fee Models</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Attach Fee Models To Account</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Get Account Fee Models</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Delete Account Fee Models</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Attach Fee Models To Program</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Get Program Fee Models</a></li>
            <li><a class="dropdown-item" href="/api-reference/batchs-endpoints/">Delete Program Fee Models</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link fs-5 text-dark" aria-current="page" href="/">Home</a>
        </li>
      </ul>
    </div>
</div>